<h1>Welcome to Scrabble Score!</h1>
<form action="/score">
  <div class="form-group">
     <label for="score">What is your scrabble word?
</label>
     <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
